<!DOCTYPE html>
<html>
	<head>
		<title></title>
		<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.css">
		<script type="text/javascript" src="/bootstrap/js/bootstrap.js"></script>
		<script type="text/javascript" src="/js/main.js"></script>
	</head>
	<body class="text-center">
		<h1>this is the head of the html</h1>
		<p>but this is the body!</p>
		<div class="col-lg-4 text-center">
			<form role="form" action="/registerUser" method="post">
				name:<input type="text" class="form-control" name="name">
				last name:<input type="text" class="form-control" name="lastName">
				Department:<input type="text" class="form-control" name="department">
				<input type="submit" value="submit" class="btn btn-primary">
			</form>
		</div>
		
	</body>
</html>
